body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
#map {
    height: 100vh;
    width: 100%;
}
.control-buttons {
    position: fixed;
    top: 85px;
    right: 10px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}
.control-buttons button {
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 50%;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
}
.control-buttons button:hover {
    background-color: #f0f0f0;
}
.control-buttons button.active {
    border-color: #00000065;
}
#button-norte {
    background-color: rgba(153, 153, 255, 0.534);
}
#button-sul {
    background-color: rgba(255, 153, 153, 0.5);
}
#button-ambos {
    position: absolute;
    left: -100px;
    background-color: #ffffff71;
    border: 2px solid #cccccc6e;
    border-radius: 5px;
    padding: 10px 15px;
}
.search-bar {
    position: absolute;
    top: 35px;
    left: 35px;
    right: 35px;
    z-index: 2000;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.search-bar input[type="text"] {
    width: calc(100% - 20px); /* Considerando o padding de 10px em cada lado */
    border: none;
    outline: none;
    font-size: 16px;
    color: #555
}
.search-icon {
    position: absolute;
    right: 10px; /* Alinhe conforme necessário */
    width: 24px; /* Ajuste o tamanho conforme necessário */
    height: 24px; /* Ajuste o tamanho conforme necessário */
    cursor: pointer;
}
.suggestions {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2000;
    background: white;
    width: calc(100% - 60px);
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
}
.suggestion-item {
    padding: 5px;
    cursor: pointer;
    text-align: center;
    color: #555
}
.suggestion-item:hover {
    background: #eee;
}
